<html>
  <head></head>
  <body>
    <h2>Olá {{name}}</h2>
    <p>Você requisitou por uma redefinição de senha</p>
    <p>Utilize esse token para recuperar sua senha</p>
    <p>{{token}}</p>
  </body>
</html>